.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: 131px;

    background-color: $--clr-tertiary;
}
.wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: $--width;
    height: auto;

    gap: 103px;

    background-color: $--clr-tertiary;

    .footer-text {
        text-align: center;
        font-family: $--font-secondary;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        color: $--clr-font-2;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
    }
}
