$--w: 1440px;

.container-nav {
    display: flex;
    align-items: center;

    margin: 0 auto;

    height: auto;

    background: $--clr-primary;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 1rem 2.625rem;

    width: $--w;
    background: $--clr-primary;

    .nav-container {
        display: flex;
        align-items: center;

        .nav-list {
            display: flex;
            align-items: center;

            gap: 1.25rem;

            height: 3.6875rem;

            .nav-title {
                font-family: $--font-primary;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: underline;

                color: $--clr-black;
                cursor: pointer;
            }
        }
    }
}

.dropdown {
    padding: 10px 0;
}
.dropdown:hover > .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: absolute;
    top: 90px;

    width: 290px;
    height: auto;

    border-radius: 0px 20px 20px 0px;
    background: $--clr-white;

    .dropdown-cat {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .submenu:hover > .submenu-items {
        display: flex;
    }
}

.submenu-cot {
    position: absolute;
    top: 0;
    left: -194px;
}

.submenu-seg {
    position: absolute;
    top: 0;
    left: -233px;
}

.submenu-cont {
    position: absolute;
    top: 0;
    left: -270px;
}

.submenu-items {
    display: none;
    padding: 12px 18px 24px 13px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    width: auto;
    height: auto;

    gap: 11px;

    border-radius: 20px 0px 20px 20px;
    background: $--clr-white;
}
