.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: auto;

    background-color: $--clr-banner;
}

.wrapper-banner {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 1440px;
    height: auto;

    background-color: $--clr-banner;

    // img {
    //     width: 50%;
    // }

    img {
        width: 50%;
    }

    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        gap: 50px;
        width: 50%;
        height: 442px;

        color: $--clr-font-2;
        h1 {
            font-family: $--font-primary;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            font-family: $--font-secondary;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper-banner {
        background-image: url("../img/banner-ecran-room.png");
        background-repeat: no-repeat;
        background-size: cover;

        img {
            display: none;
        }

        .banner-text {
            margin-left: 10%;
            width: 80%;
        }
    }
}
