.container-segurados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 100%;

    background-color: $--clr-alternative-1;
}

.wrapper-segurados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: $--clr-alternative-1;

    gap: 2rem;
    margin: 4rem 0 2rem 0;

    h2 {
        text-align: center;

        font-family: $--font-primary;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        color: $--clr-font;
    }

    p {
        text-align: center;
        font-family: $--font-secondary;
        font-size: $--font-16rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        color: $--clr-font;
    }

    .download-app {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 93px;
    }
}

.qrcode-img {
    width: 512px;
    margin: 0 47.83px;
    height: 512px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
    .wrapper-segurados {
        .download-app {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    .qrcode-img {
        width: 90%;
        margin: 0 47.83px;
        height: 90%;
    }
}
