//fonts
$--font-primary: "Inter", sans-serif;
$--font-secondary: "Open Sans", sans-serif;

//colors
$--clr-black: #1d1d1d;
$--clr-white: #ffffff;
$--clr-primary: #bfbbbb;
$--clr-secondary: #ada7a7;
$--clr-tertiary: #635d5d;
$--clr-font: $--clr-black;
$--clr-font-2: $--clr-white;
$--clr-alternative-1: #f1e6e6;
$--clr-banner: #4b5664;

//test dev
$--clr-test1: lightgray;
$--clr-test2: gray;

//resolution size
$--width: 1440px;
$--height: 600px;

//font size
