//fonts
$--font-primary: "Inter", sans-serif;
$--font-secondary: "Open Sans", sans-serif;

//colors
$--clr-black: #1d1d1d;
$--clr-white: #ffffff;
$--clr-primary: #bfbbbb;
$--clr-secondary: #ada7a7;
$--clr-tertiary: #635d5d;
$--clr-font: $--clr-black;
$--clr-font-2: $--clr-white;
$--clr-alternative-1: #f1e6e6;
$--clr-banner: #4b5664;
$--clr-hover: #891218;

//test dev
$--clr-test1: lightgray;
$--clr-test2: gray;

//resolution size
$--width: 1440px;
$--height: 600px;

//responsive sizes

//font size em
$--font-12em: 0.75em;
$--font-14em: 0.875em;
$--font-16em: 1em;
$--font-18em: 1.125em;
$--font-20em: 1.25em;
$--font-22em: 1.375em;
$--font-24em: 1.5em;
$--font-26em: 1.625em;
$--font-28em: 1.75em;

//font size rem
$--font-12rem: 0.75rem;
$--font-14rem: 0.875rem;
$--font-16rem: 1rem;
$--font-18rem: 1.125rem;
$--font-20rem: 1.25rem;
$--font-22rem: 1.375rem;
$--font-24rem: 1.5rem;
$--font-26rem: 1.625rem;
$--font-28rem: 1.75rem;
$--font-36rem: 2.25rem;
